<%- include('header'); -%>

    <div class="box" id="heading">
        <h1 style="color: white"> <%= dayOf %> </h1>
    <% if (dayOf==="Tursday") {  %>
    
    <h1 style="color: white"> <%= listTitle %> </h1>
    <% }else{ %>
   <h1 style="color: blue"> <%= listTitle %> </h1>
     <% }  %>
    </div>

 
 <div class="box" id="heading"> 
<!--
        <li>Buy food</li>
        <li>Cook food</li>
        <li>Eat food</li>
        <li><%= newListItems %></li>
-->
        
   <% for(var i = 0; i<newListItems.length; i++){ %>
       <div class="item">
           <input type="checkbox">
          <p><%= newListItems[i] %></p>   
       </div>     
    <% } %>


    
    <form class="item" action="/render_ejs" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+<%= listTitle %></button>
    
    </form>
     
 </div>
    

<%- include('footer'); -%>
